.customer-review {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(202, 194, 194);

}

.customer-review img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.review-detail {
    text-align: justify;
}

.review-detail h3,
p {
    margin: 5px;
}

.ratings {
    color: orange;
}