.live-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.live-demo h1 {
    font-size: 50px;
}

.live-demo img {
    width: 50%;
    height: 50%;
    margin-bottom: 20px;
}